{% extends "base.html" %}

{% block main %}

{% for post in posts %}
<div class="container">

    <div class="col s12 m7">

        <div class="card horizontal">
            <div class="card-stacked">
                <div class="card-content">
                  <h2 class="header">{{ post.title }}</h2>
                    <p>{{ post.body }}</p>
                </div>
                <div class="card-action">
                    <p>Author : {{ post.author}}</p>
                    <p>Category: {{ post.category_name }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}